@font-face {
  font-family: 'MyFont';
  src:  url('BigShouldersStencilText-Bold.ttf') format('ttf'),
        url('BigShouldersStencilText-Medium.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./logo.jpeg');
  font-family: 'MyFont', Arial;
  font-size: 5rem;
}